<div class="banner">
    <img src="assets/contact-us.png" alt="">
    <div class="socio">
        <p>
            <a href="">
                <img src="assets/call.png" alt="">
            </a>
        </p>
        <p>
            <a href="">
                <img src="assets/whats-app.png" alt="">
            </a>
        </p>
    </div>
</div>
<div class="text space">
    <div class="container-fluid">
        <h2>
            Contact Us
        </h2>
        <p>We're here to help you grow. </p>
        <p>Have questions about our internships, workshops, industrial training, or project support? Reach out to us
            anytime
            — our team is ready to guide you!</p>
        <div class="space">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/contact-1.png" alt="">
                        <h5>Our Office Address</h5>
                        <p>
                            Tech Solutions Pvt. Ltd.3rd Floor, Innovation Hub,Main Road, Hyderabad, Telangana - 500081
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <img src="assets/contact-2.png" alt="">
                        <h5>Get in Touch</h5>
                        <p>
                            Email: support@techsolutions.in
                        </p>
                        <p>Phone: +91 98765 43210</p>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="for space">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Send Us a Message
                </h2>
                <form class="p-4 rounded shadow-sm bg-white">
                   
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Full Name*</label>
                        <input type="text" class="form-control" id="fullName" placeholder="Enter your full name">
                    </div>
                   
                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Contact Number*</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                🇮🇳 +91
                            </span>
                            <input type="tel" class="form-control" id="contactNumber" placeholder="Enter phone number">
                        </div>
                    </div>
                  
                    <div class="mb-3">
                        <label for="email" class="form-label">Email ID*</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="4" placeholder="Type message here"></textarea>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-primary px-4 view">Send Message
                              <img src="assets/pointer.png" alt="">
                        </button>
                    </div>

                </form>
            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121792.45957194905!2d78.42603128156155!3d17.45902670427377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90993cf78413%3A0xacbbbd525c9e9e21!2sBegumpet%20Airport!5e0!3m2!1sen!2sin!4v1755435496619!5m2!1sen!2sin"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>