<div class="banner">
    <img src="assets/achievements-banner.png" alt="">
    <div class="socio">
        <p>
            <a href="">
                <img src="assets/call.png" alt="">
            </a>
        </p>
        <p>
            <a href="">
                <img src="assets/whats-app.png" alt="">
            </a>
        </p>
    </div>
</div>
<div class="space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h2>
                    Our Achievements
                </h2>
                <p>
                    At Tech Solutions, we believe success is measured by the impact we make. From empowering thousands
                    of
                    students to building real-world projects and forming strong industry connections, our journey has
                    been
                    filled with proud milestones.
                </p>
            </div>
            <div class="col-md-5">

            </div>
            <div class="col-md-4 mb-4">
                <div class="box">
                    <img src="assets/achievements-1.png" alt="">
                    <h2>5000+ Projects Completed</h2>
                    <p>Students across India have developed and submitted innovative projects with our guidance and
                        mentorship.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="box">
                    <img src="assets/achievements-2.png" alt="">
                    <h2>100+ Successful Workshops Conducted</h2>
                    <p>We've delivered hands-on training through engaging workshops across engineering colleges and tech
                        institutions.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="box">
                    <img src="assets/achievements-3.png" alt="">
                    <h2>3000+ Interns Trained</h2>
                    <p>Our internship programs (online & offline) have helped students gain real-world experience and
                        build job-ready skills.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="box">
                    <img src="assets/achievements-4.png" alt="">
                    <h2>25+ Industry Collaborations</h2>
                    <p>We've partnered with tech companies and startups to create better career and project
                        opportunities for our students.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="box">
                    <img src="assets/achievements-5.png" alt="">
                    <h2>100+ Placement Assistance Drives</h2>
                    <p>Our guidance and training have helped many students land internships and job roles with
                        confidence.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="box">
                    <img src="assets/achievements-6.png" alt="">
                    <h2>95% Student Satisfaction</h2>
                    <p>We're proud to maintain a high satisfaction rate based on feedback and success stories from
                        students and colleges</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space img">
    <div class="container-fluid" *ngFor="let type of groupedData | keyvalue">
        <h2>{{ type.key }}</h2>

        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let item of type.value">
                <!-- <img src="assets/achievements-img-1.png" alt=""> -->
                <img [src]="item.imageurl" alt="{{ type.key }}" class="img-fluid mb-3">
                <p class="text-center">
                    <b><i>"{{ item.smallDescription }}"</i></b>
                </p>
            </div>
            <!-- <div class="col-md-4">
                <img src="assets/achievements-img-2.png" alt="">

            </div>
            <div class="col-md-4">
                <img src="assets/achievements-img-3.png" alt="">

            </div> -->
        </div>
    </div>
</div>
<!-- <div class="space img">
    <div class="container-fluid">
        <h2>Student Project Highlights</h2>
        <p>
            Showcasing innovative and real-world projects built by our learners.
        </p>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/achievements-img-4.png" alt="">

            </div>
            <div class="col-md-4">
                <img src="assets/achievements-img-5.png" alt="">

            </div>
            <div class="col-md-4">
                <img src="assets/achievements-img-6.png" alt="">

            </div>
        </div>
    </div>
</div>
<div class="space img">
    <div class="container-fluid">
        <h2>College campus training events</h2>
        <p>
            On-ground learning and collaboration from colleges across India.
        </p>
        <div class="row">
            <div class="col-md-4">
                <img src="assets/achievements-img-7.png" alt="">

            </div>
            <div class="col-md-4">
                <img src="assets/achievements-img-8.png" alt="">

            </div>
            <div class="col-md-4">
                <img src="assets/achievements-img-9.png" alt="">

            </div>
        </div>
    </div>
</div> -->