<div class="banner">
    <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/banner.png" alt="">
    <div class="socio">
      <p>
        <a href="">
          <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/call.png" alt="">
        </a>
      </p>
      <p>
        <a href="">
          <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/whats-app.png" alt="">
        </a>
      </p>
    </div>
  </div>
  <div class="services space">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6">
          <h2>
            Our Core Services
          </h2>
          <p>Comprehensive technology education solutions designed to accelerate your career growth.</p>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-4">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/service-1.png" alt="">
            <h4>
              Academic Projects
            </h4>
            <p>
              Comprehensive final year projects for B.Tech, M.Tech, Ph.D., and Degree students with industry-standard
              implementation.
            </p>
            <div class="point">
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Custom Project Development
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Documentation Support
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Implementation Guidance
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Industry Standards
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/service-2.png" alt="">
            <h4>
              Industrial Training
            </h4>
            <p>
              Hands-on training programs in cutting-edge technologies to bridge the gap between academics and industry.
            </p>
            <div class="point">
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Embedded Systems
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                VLSI Design
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Python Full Stack
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Real-world Projects
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/service-3.png" alt="">
            <h4>
              Workshops
            </h4>
            <p>
              Regular technical workshops and events designed to keep you updated with the latest technology trends.
            </p>
            <div class="point">
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Latest Technologies
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Expert Speakers
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Hands-on Learning
              </p>
              <p>
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/right.svg" alt="">
                Networking Opportunities
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="showcase space">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2>Project Showcase</h2>
          <p>Explore our collection of innovative student projects across different academic levels, showcasing
            cutting-edge
            technologies and real-world applications.</p>
        </div>
        <div class="col-md-6"></div>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="BTech-tab" data-bs-toggle="tab" data-bs-target="#BTech" type="button"
            role="tab" aria-controls="BTech" aria-selected="true">B.Tech</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="MTech-tab" data-bs-toggle="tab" data-bs-target="#MTech" type="button" role="tab"
            aria-controls="MTech" aria-selected="false">M.Tech</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="PHD-tab" data-bs-toggle="tab" data-bs-target="#PHD" type="button" role="tab"
            aria-controls="PHD" aria-selected="false">Ph.D</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="Degree-tab" data-bs-toggle="tab" data-bs-target="#Degree" type="button"
            role="tab" aria-controls="Degree" aria-selected="false">Degree</button>
        </li>
      </ul>
      <hr>
      <!-- Tab Content -->
      <div class="tab-content p-3 border border-top-0" id="myTabContent">
        <div class="tab-pane fade show active" id="BTech" role="tabpanel" aria-labelledby="BTech-tab">
          <div class="row">
            <div class="col-md-3">
              <div class="box">
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/b-tech-1.png" alt="">
                <div class="text">
                  <h5>Smart Currency Counting Machine Using Arduino</h5>
                  <p>Cross-platform mobile application for real-time health monitoring with wearable device ....</p>
                  <a href="" class="view">
                    <b>View Details</b>
                    <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/pointer.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/b-tech-2.png" alt="">
                <div class="text">
                  <h5>Automatic Rain Protection for Field Crops</h5>
                  <p>Custom RISC-V processor design with advanced pipelining and cache optimization techniques.</p>
                  <a href="" class="view">
                    <b>View Details</b>
                    <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/pointer.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/b-tech-3.png" alt="">
                <div class="text">
                  <h5>A Portable Device for Measuring Social Distance and Alerting</h5>
                  <p>We bring fresh, cutting-edge ideas to life with the help of our industry-experienced mentors. </p>
                  <a href="" class="view">
                    <b>View Details</b>
                    <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/pointer.png" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/b-tech-4.png" alt="">
                <div class="text">
                  <h5>Rotary to Linear Conversion</h5>
                  <p>Intelligent traffic management system using computer vision and deep learning for .....</p>
                  <a href="" class="view">
                    <b>View Details</b>
                    <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/pointer.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="MTech" role="tabpanel" aria-labelledby="MTech-tab">
          <h5>Profile Tab Content</h5>
          <p>This is the content for the Profile tab.</p>
        </div>
        <div class="tab-pane fade" id="PHD" role="tabpanel" aria-labelledby="PHD-tab">
          <h5>Contact Tab Content</h5>
          <p>This is the content for the Contact tab.</p>
        </div>
        <div class="tab-pane fade" id="Degree" role="tabpanel" aria-labelledby="Degree-tab">
          <h5>Contact Tab Content</h5>
          <p>This is the content for the Contact tab.</p>
        </div>
      </div>
      <div class="show">
        <a href="">
          <b>Show all B.Tech Projects</b>
          <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/pointer-blue.png" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="solutons space">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6">
          <h2>
            Why Choose Tech Solutions?
          </h2>
          <p>At Tech Solutions, we bridge the gap between academic theory and real-world application. Whether you're a
            B.Tech, M.Tech, Degree, or Ph.D. student, our expert-guided platform ensures your project journey is smooth,
            innovative, and industry-ready. </p>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/solutions-1.png" alt="">
            <h4>
              Innovative Project Solutions
            </h4>
            <p>
              We bring fresh, cutting-edge ideas to life with the help of our industry-experienced mentors. From B.Tech
              to Ph.D., our projects are designed to be innovative, relevant, and future-ready.
            </p>

          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/solutions-2.png" alt="">
            <h4>
              Trusted Quality & Results
            </h4>
            <p>
              Tech Solutions guarantees project excellence. Our team ensures every project meets academic standards,
              follows best practices, and delivers results you can be proud of.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/solutions-3.png" alt="">
            <h4>
              24/7 Expert Support
            </h4>
            <p>
              Our support team is always on standby. Whether it's technical clarification or guidance, we offer
              round-the-clock help to keep your academic journey smooth and stress-free.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/solutions-4.png" alt="">
            <h4>
              Fully Customized Projects
            </h4>
            <p>
              No templates here — every project is built to match your exact topic, university requirements, and
              research scope. Personalized solutions that truly reflect your ideas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="technologies space">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2>The Latest Technologies Used in Projects</h2>
          <p>We integrate cutting-edge technologies such as AI, Machine Learning, IoT, Blockchain, Cloud Computing, and
            more to ensure every project is future-ready, industry-relevant, and academically impactful.</p>
        </div>
        <div class="col-md-6"></div>

        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/technologies-1.png" alt="">
            <div class="text">
              <h5>Artificial Intelligence</h5>
              <p>Develop intelligent systems like chatbots, prediction models, and facial recognition tools.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/technologies-2.png" alt="">
            <div class="text">
              <h5>Internet of Things (IoT)</h5>
              <p>Create smart environments using sensor integration and real-time data processing.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/technologies-3.png" alt="">
            <div class="text">
              <h5>Electric Vehicles (EV)</h5>
              <p>Design simulations for EVs, including battery management and autonomous control.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/technologies-4.png" alt="">
            <div class="text">
              <h5>Blockchain</h5>
              <p>Build decentralized applications with smart contracts and secure data handling.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/technologies-5.png" alt="">
            <div class="text">
              <h5>Web Development</h5>
              <p>Develop modern, responsive websites and full-stack web applications.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/technologies-6.png" alt="">
            <div class="text">
              <h5>Android Development</h5>
              <p>Develop intelligent systems like chatbots, prediction models, and facial recognition tools.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/technologies-7.png" alt="">
            <div class="text">
              <h5>Machine Learning</h5>
              <p>Train models for prediction, classification, and automation using real-world data.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/technologies-8.png" alt="">
            <div class="text">
              <h5>Cyber Security</h5>
              <p>Secure digital systems with threat detection, encryption, and user authentication.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="process space">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2>Our Process</h2>
          <p>At Tech Solutions, our process is designed to be simple, transparent, and effective. From the moment you
            connect with us, we guide you step-by-step — starting with idea selection, followed by expert mentorship,
            regular progress check-ins, and final project delivery. </p>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
          <div class="dox">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/process-1.png" alt="">
            <p>1. Project Selection</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="dox">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/process-2.png" alt="">
            <p>2. Project Planning</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="dox">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/process-3.png" alt="">
            <p>3. Project Research</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="dox">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/process-4.png" alt="">
            <p>4. Project Development</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="dox">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/process-5.png" alt="">
            <p>5. Project Documentation</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="dox">
            <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/process-6.png" alt="">
            <p>6. Project Presentation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="success space">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2>Success Stories</h2>
          <p>Hear from our students who transformed their careers with our training programs </p>
        </div>
        <div class="col-md-6"></div>
        <div class="liner">
          <div class="number">
            <p><b>95%</b></p>
            <p>Placement Rate</p>
          </div>
          <div class="number">
            <p><b>12 LPA</b></p>
            <p>Average Package</p>
          </div>
          <div class="number">
            <p><b>500+</b></p>
            <p>Students Placed</p>
          </div>
          <div class="number">
            <p><b>4.9</b></p>
            <p>Average Rating</p>
          </div>
        </div>
        <div id="testimonial" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-4">
                  <div class="testimonial ">
                    <div class="cards">
                      <p class="star"> ★★★★★</p>
                      <div class="ms-auto"><img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/quation.svg"
                          alt="">
                      </div>
                    </div>
                    <p class="mb-3">
                      "The comprehensive curriculum and hands-on projects prepared me perfectly for my role.
                      The instructors' industry experience made all the difference."
                    </p>
                    <div class="names">
                      <div class="avatar ">PS</div>
                      <div>
                        <h4>Priya Sharma</h4>
                        <small>Python Full Stack Training</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="testimonial ">
                    <div class="cards">
                      <p class="star"> ★★★★★</p>
                      <div class="ms-auto"><img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/quation.svg"
                          alt="">
                      </div>
                    </div>
                    <p class="mb-3">
                      "Outstanding training program with real industry tools. The project-based learning approach helped
                      me understand complex concepts easily."
                    </p>
                    <div class="names">
                      <div class="avatar ">RK</div>
                      <div>
                        <h4>Anita Patel</h4>
                        <small>Embedded Systems Training</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="testimonial ">
                    <div class="cards">
                      <p class="star"> ★★★★★</p>
                      <div class="ms-auto"><img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/quation.svg"
                          alt="">
                      </div>
                    </div>
                    <p class="mb-3">
                      "From basics to advanced concepts, everything was explained clearly. The practical sessions were
                      invaluable for my career growth."
                    </p>
                    <div class="names">
                      <div class="avatar ">AP</div>
                      <div>
                        <h4>Anita Patel</h4>
                        <small>Embedded Systems Training</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="carousel-item">
              <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Slide 2">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second Slide</h5>
                <p>Some quick example text.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Slide 3">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third Slide</h5>
                <p>Some quick example text.</p>
              </div>
            </div> -->
          </div>

          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>

      </div>
    </div>
  </div>
  <div class="bg">
    <div class="text">
      <h2>Ready to Start Your Success Story?</h2>
      <p>Join thousands of students who have transformed their careers with our programs</p>

      <a href="" class="start">
        <b>Start Project Now</b>
        <img src="file:///C:/Users/DELL/Desktop/trtech-solutions/images/pointer.png" alt="">

      </a>
    </div>
  </div>