<div class="banner">
    <img src="assets/embedded-banner.png" alt="">
    <div class="socio">
        <p>
            <a href="">
                <img src="assets/call.png" alt="">
            </a>
        </p>
        <p>
            <a href="">
                <img src="assets/whats-app.png" alt="">
            </a>
        </p>
    </div>
</div>
<div class="showcase space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <h2>Embedded Industrial Training?</h2>
                <p>Industrial Training at Tech Solutions is designed to equip engineering students with practical
                    knowledge, industry tools, and hands-on project experience. Our training programs align with the
                    latest trends and technologies used in today’s tech-driven industries.</p>
            </div>
            <div class="col-md-5"></div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <img src="assets/b-tech-1.png" alt="">
                    <div class="text">
                        <h5>Smart Currency Counting Machine Using Arduino</h5>
                        <p>Cross-platform mobile application for real-time health monitoring with wearable
                            device ....</p>
                        <a href="" class="view">
                            <b>Enroll Now</b>
                            <img src="assets/pointer.png" alt="">
                        </a>
                        <a href="start-project-now" class="show">
                            <b>Know More</b>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assets/b-tech-1.png" alt="">
                    <div class="text">
                        <h5>Smart Currency Counting Machine Using Arduino</h5>
                        <p>Cross-platform mobile application for real-time health monitoring with wearable
                            device ....</p>
                        <a href="" class="view">
                            <b>Enroll Now</b>
                            <img src="assets/pointer.png" alt="">
                        </a>
                        <a href="" class="show">
                            <b>Know More</b>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assets/b-tech-1.png" alt="">
                    <div class="text">
                        <h5>Smart Currency Counting Machine Using Arduino</h5>
                        <p>Cross-platform mobile application for real-time health monitoring with wearable
                            device ....</p>
                        <a href="" class="view">
                            <b>Enroll Now</b>
                            <img src="assets/pointer.png" alt="">
                        </a>

                        <a href="" class="show">
                            <b>Know More</b>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box ">
                    <img src="assets/b-tech-1.png" alt="">
                    <div class="text">
                        <h5>Smart Currency Counting Machine Using Arduino</h5>
                        <p>Cross-platform mobile application for real-time health monitoring with wearable
                            device ....</p>
                        <a href="" class="view">
                            <b>Enroll Now</b>
                            <img src="assets/pointer.png" alt="">
                        </a>
                        <a href="" class="show">
                            <b>Know More</b>
                        </a>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<div class="certificate space">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text  ">
                    <h2>Start Learning Today</h2>
                    <p>Take the first step toward real-world skills and career success.</p>
                    <ul>
                        <li>Hands-on training with real tools and projects</li>
                        <li>
                            Flexible online/offline learning options
                        </li>
                        <li>
                            Expert mentorship and personalized guidance
                        </li>
                        <li>
                            Industry-recognized certification
                        </li>
                        <li>
                            Internship or training report support
                        </li>
                        <li>
                            Career-ready skills that stand out on your resume
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/certificate.png" alt="">
            </div>
        </div>
    </div>
</div>