<div class="banner">
    <!-- <img src="assets/banner.png" alt=""> -->
    <div class="socio">
        <p>
            <a href="">
                <img src="assets/call.png" alt="">
            </a>
        </p>
        <p>
            <a href="">
                <img src="assets/whats-app.png" alt="">
            </a>
        </p>
    </div>
</div>
<div class="brief space">
    <div class="container-fluid">
        <h2>
            Smart Currency Counting Machine Using Arduino
        </h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Abstract-tab" data-bs-toggle="tab" data-bs-target="#Abstract"
                    type="button" role="tab" aria-controls="Abstract" aria-selected="true">Read Abstract</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Diagram-tab" data-bs-toggle="tab" data-bs-target="#Diagram" type="button"
                    role="tab" aria-controls="Diagram" aria-selected="false">Block Diagram</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Specifications-tab" data-bs-toggle="tab" data-bs-target="#Specifications"
                    type="button" role="tab" aria-controls="Specifications"
                    aria-selected="false">Specifications</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Outcomes-tab" data-bs-toggle="tab" data-bs-target="#Outcomes" type="button"
                    role="tab" aria-controls="Outcomes" aria-selected="false">Learning Outcomes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Download-tab" data-bs-toggle="tab" data-bs-target="#Download" type="button"
                    role="tab" aria-controls="Download" aria-selected="false">Download Abstract</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Demo-tab" data-bs-toggle="tab" data-bs-target="#Demo" type="button"
                    role="tab" aria-controls="Demo" aria-selected="false">Demo Video</button>
            </li>
            <li class="ms-auto">
                <a class="code">
                    <b>Project Code: 197482</b>
                </a>
            </li>
            <li>
                <a href="" class="view d-flex align-items-center">
                    <img src="assets/cart.svg" alt="">
                    <b>Buy Project Now</b>
                </a>
            </li>
        </ul>
        <!-- Tab Content -->
        <div class="tab-content p-3 border border-top-0" id="myTabContent">
            <div class="tab-pane fade show active" id="Abstract" role="tabpanel" aria-labelledby="Abstract-tab">
                <div class="space">
                    <div class="container">
                        <div class="box">
                            <h2>Objective</h2>
                            <p>
                                At Tech Solutions, we believe in bridging the gap between academic knowledge and
                                real-world
                                innovation. Founded with a mission to empower students, we provide a dynamic platform to
                                showcase college projects, explore internship opportunities, and participate in hands-on
                                workshops across various technology domains.
                            </p>
                        </div>
                        <div class="box">
                            <h2>Abstract</h2>
                            <p>
                                Our goal is to nurture the next generation of engineers, developers, and creators by
                                offering the tools, guidance, and exposure needed to thrive in today's tech-driven
                                world.
                                Whether you're building embedded systems, crafting circuit designs, or diving into
                                software
                                and AI, Tech Solutions is your launchpad to practical learning and career advancement.
                            </p>
                            <p>
                                We collaborate with institutions, industry professionals, and student communities to
                                create
                                impactful experiences that go beyond the classroom. Join us in shaping the future—one
                                project at a time.
                            </p>
                            <p>
                                Our goal is to nurture the next generation of engineers, developers, and creators by
                                offering the tools, guidance, and exposure needed to thrive in today's tech-driven
                                world.
                                Whether you're building embedded systems, crafting circuit designs, or diving into
                                software
                                and AI, Tech Solutions is your launchpad to practical learning and career advancement.
                            </p>
                            <p>
                                We collaborate with institutions, industry professionals, and student communities to
                                create
                                impactful experiences that go beyond the classroom. Join us in shaping the future—one
                                project at a time.
                            </p>
                        </div>
                        <div class="box">
                            <h2>Key Words</h2>
                            <p>
                                We collaborate with institutions, industry professionals, and student communities to
                                create
                                impactful experiences that go beyond the classroom. Join us in shaping the future—one
                                project at a time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Diagram" role="tabpanel" aria-labelledby="Diagram-tab">
                <h5>Profile Tab Content</h5>
                <p>This is the content for the Profile tab.</p>
            </div>
            <div class="tab-pane fade" id="Specifications" role="tabpanel" aria-labelledby="Specifications-tab">
                <h5>Contact Tab Content</h5>
                <p>This is the content for the Contact tab.</p>
            </div>
            <div class="tab-pane fade" id="Outcomes" role="tabpanel" aria-labelledby="Outcomes-tab">
                <h5>Contact Tab Content</h5>
                <p>This is the content for the Contact tab.</p>
            </div>
            <div class="tab-pane fade" id="Download" role="tabpanel" aria-labelledby="Download-tab">
                <h5>Contact Tab Content</h5>
                <p>This is the content for the Contact tab.</p>
            </div>
            <div class="tab-pane fade" id="Demo" role="tabpanel" aria-labelledby="Demo-tab">
                <h5>Contact Tab Content</h5>
                <p>This is the content for the Contact tab.</p>
            </div>
        </div>
    </div>
</div>