<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="assets/trtech-solution-logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
      aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink=" " routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="paper-publishing" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Paper Publishing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink=" " routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
        </li>
        <li class="nav-item social-media">
          <a class="nav-link" href="#">
            <img src="assets/linkdin.png" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="assets/twitter.png" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="assets/facebook.png" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="assets/youtube.png" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="assets/linkdin.png" alt="">
          </a>
        </li>
        <li class="nav-item phone">
          <a href="">
            <img src="assets/phone.png" alt="">
            <b>+91 9515206990</b>
          </a>
        </li>
        <li class="nav-item start">
          <a href="">
            <b>Start Project Now</b>
            <img src="assets/pointer.png" alt="">

          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="tags">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="text">
          <ul class="list-inline">
            <li class="list-inline-item head">Projects</li>
            <li class="list-inline-item">
              M.Tech

            </li>
            <li class="list-inline-item">
              <a class="nav-link" routerLink="b-tech-projects" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                B.Tech
              </a>
            </li>
            <li class="list-inline-item">PHD</li>
            <li class="list-inline-item">Degree</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text">
          <ul class="list-inline">
            <li class="list-inline-item head">Services</li>
            <li class="list-inline-item">
              <a class="nav-link" routerLink="workshop" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Workshops
              </a>
            </li>
            <li class="list-inline-item">
              <a class="nav-link" routerLink="intership" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Internships
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text">
          <ul class="list-inline">
            <li class="list-inline-item head">Industrial Training</li>
            <li class="list-inline-item">
              <a class="nav-link" routerLink="embedded" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                Embedded
              </a>

            </li>
            <li class="list-inline-item">Vlsi</li>
            <li class="list-inline-item">Python Full Stack</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>