$primary-color: #0072ff;

.start {
    display: flex;

    a {
        text-decoration: none;
        color: #fff;
    }

    b {
        font-weight: 600;
    }

    margin: 0px 10px;
    padding: 5px 8px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    border-radius: 5px;
    align-items: center;
}

.navbar {
    background-color: #fff;

    .navbar-nav {
        .nav-item {
            padding-right: var(--bs-navbar-nav-link-padding-x);
            padding-left: var(--bs-navbar-nav-link-padding-x);

            .nav-link {
                color: #000;
            }

            .active {
                color: $primary-color !important;
                font-weight: bold;
                border-bottom: 2px solid $primary-color;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .social-media {
        display: flex;
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        padding: 0px 5px;
        margin: 0px 10px;
    }

    .phone {
        display: flex;

        a {
            text-decoration: none;
            color: $primary-color;
        }

        margin: 0px 10px;
        padding: 5px 8px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        align-items: center;
    }

    .start {
        display: flex;

        a {
            text-decoration: none;
            color: #fff;
        }

        b {
            font-weight: 600;
        }

        margin: 0px 10px;
        padding: 5px 8px;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        border-radius: 5px;
        align-items: center;
    }
}

.tags {
    background-color: #f7f9fc;

    .text {

        ul {
            margin-bottom: 0px;
            list-style-type: none;

            .head {
                background-image: url(./../../../assets/tags.png);
                background-size: 100% 100%;
                padding: 10px 20px 10px 10px;
                color: $primary-color;
                font-weight: 600;
            }

            li {
                font-weight: 600;
                margin-right: 15px;
                font-size: 13px;
            }
        }

    }
}