
footer {
    background-color: #2C313A;

    hr {
        border: 1px solid #70717e;
        margin: 0;
    }

    .text {
        text-align: center;
        padding-top: 35px;

        p {
            color: #fff;
            padding-top: 18px;
        }

        .names {
            display: flex;
            align-items: center;
            margin-right: 10px;
            padding: 20px 0px;

            small {
                font-size: 14px;
                color: #fff;
                margin-left: 10px;
                line-height: 15px;
                text-align: left;
            }
        }
    }

    .copy-right {
        p {
            color: #bdbdbd;
            padding: 3% 0px;

            b {
                float: right;

                font-weight: 400;

                a {
                    color: #bdbdbd;
                    text-decoration: none;
                    padding: 0px 10px;
                    font-size: 14px;
                }
            }
        }
    }
}
