<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="text">
            <a class="navbar-brand" href="/"><img
                src="assets/trtech-solution-footer-logo.svg" alt=""></a>
            <p>At Tech Solutions, our process is designed to be simple, transparent, and effective. From the moment you
              connect with us, we guide you step-by-step — starting with idea selection, followed by expert mentorship,
              regular progress check-ins, and final project delivery. </p>
            <div class="row">
              <div class="col-md-4">
                <div class="names">
                  <img src="assets/location.png" alt="">
                  <small>1st Floor, 1-5-558, 2nd St, Balaji Colony,
                    Tirupati, Andhra Pradesh 517502.</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="names">
                  <img src="assets/mail.png" alt="">
                  <small>info@techsolutions.edu</small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="names">
                  <img src="assets/calling.png" alt="">
                  <small>+91 9876543210</small>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
    
    <hr>
    <div class="container-fluid">
      <div class="copy-right">
        <p>2025 Tech Solutions Private Limited All rights reserved <b>
            <a href="">Security Policy</a>
            <a href="">Terms of Service</a>
            <a href="">Privacy Policy</a>
          </b></p>

      </div>
    </div>
  </footer>