<div class="banner">
    <img src="assets/start-project.png" alt="">
    <div class="socio">
        <p>
            <a href="">
                <img src="assets/call.png" alt="">
            </a>
        </p>
        <p>
            <a href="">
                <img src="assets/whats-app.png" alt="">
            </a>
        </p>
    </div>
</div>
<div class="showcase space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Start Your Project with Tech Solutions</h2>
                <p>Turn your ideas into real-world solutions with expert support, resources, and guidance. Whether it’s
                    a mini project, major final-year build, or a personal innovation, we help you plan, develop, and
                    complete it step by step.</p>
            </div>
            <div class="col-md-6"></div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Development-tab" data-bs-toggle="tab" data-bs-target="#Development"
                    type="button" role="tab" aria-controls="Development" aria-selected="true">Project
                    Development</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Writing-tab" data-bs-toggle="tab" data-bs-target="#Writing" type="button"
                    role="tab" aria-controls="Writing" aria-selected="false">Thesis Writing</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Paper-tab" data-bs-toggle="tab" data-bs-target="#Paper" type="button"
                    role="tab" aria-controls="Paper" aria-selected="false">Paper Writing</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Publication-tab" data-bs-toggle="tab" data-bs-target="#Publication"
                    type="button" role="tab" aria-controls="Publication" aria-selected="false">Paper
                    Publication</button>
            </li>
        </ul>
        <hr>
        <!-- Tab Content -->
        <div class="tab-content p-3 border border-top-0 space" id="myTabContent">
            <div class="tab-pane fade show active" id="Development" role="tabpanel" aria-labelledby="Development-tab">
                <h2>Do you have any?</h2>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="box" (click)="showDiv('idea')" [ngClass]="{'active-box': activeBox === 'idea'}">
                            <img src="assets/start-project-1.png" alt="">
                            <b>I Have idea</b>
                            <!-- <a href="" class="view">
                                <b>View Details</b>
                                <img src="assets/pointer.png" alt="">
                            </a> -->

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box" (click)="showDiv('noidea')" [ngClass]="{'active-box': activeBox === 'noidea'}">
                            <img src="assets/start-project-2.png" alt="">
                            <b>I dont’ have idea</b>


                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6" *ngIf="activeBox === 'idea'" class="mt-3">
                        <div class="for">
                            <div class="container">
                                <div class="card p-4 border-0 rounded-4">
                                    <h4 class="text-center mb-4 fw-semibold">Tell us a little about your requirements
                                    </h4>

                                    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

                                        <div class="mb-3">
                                            <textarea class="form-control" rows="5" placeholder="Share Your Thoughts"
                                                formControlName="thoughts"></textarea>
                                        </div>

                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label class="form-label">Files Upload:</label>
                                                <input type="file" class="form-control" (change)="onFileChange($event)">
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Full Name*</label>
                                                <input type="text" class="form-control" formControlName="fullname"
                                                    required>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Email ID*</label>
                                                <input type="email" class="form-control" formControlName="emailid"
                                                    required>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Contact Number*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">🇮🇳 +91</span>
                                                    <input type="tel" class="form-control" formControlName="phonenumber"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">What is your Budget ?*</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="budget"
                                                        required>
                                                    <span class="input-group-text">RS</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Duration (in Days)*</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="duration"
                                                        required>
                                                    <span class="input-group-text">Days</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Schedule a call*</label>
                                                <input type="date" class="form-control" formControlName="schedule"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary px-5 view">
                                                Submit Your Requirements
                                                <img src="assets/pointer.png" alt="">
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="activeBox === 'noidea'" class="mt-3">
                        <p>coming soon</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Writing" role="tabpanel" aria-labelledby="Writing-tab">
                <h2>Do you have any?</h2>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="box" (click)="showDiv('idea')" [ngClass]="{'active-box': activeBox === 'idea'}">
                            <img src="assets/start-project-1.png" alt="">
                            <b>I Have idea</b>
                            <!-- <a href="" class="view">
                                <b>View Details</b>
                                <img src="assets/pointer.png" alt="">
                            </a> -->

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box" (click)="showDiv('noidea')" [ngClass]="{'active-box': activeBox === 'noidea'}">
                            <img src="assets/start-project-2.png" alt="">
                            <b>I dont’ have idea</b>


                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6" *ngIf="activeBox === 'idea'" class="mt-3">
                        <div class="for">
                            <div class="container">
                                <div class="card p-4 border-0 rounded-4">
                                    <h4 class="text-center mb-4 fw-semibold">Tell us a little about your requirements
                                    </h4>

                                    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

                                        <div class="mb-3">
                                            <textarea class="form-control" rows="5" placeholder="Share Your Thoughts"
                                                formControlName="thoughts"></textarea>
                                        </div>

                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label class="form-label">Files Upload:</label>
                                                <input type="file" class="form-control" (change)="onFileChange($event)">
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Full Name*</label>
                                                <input type="text" class="form-control" formControlName="fullname"
                                                    required>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Email ID*</label>
                                                <input type="email" class="form-control" formControlName="emailid"
                                                    required>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Contact Number*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">🇮🇳 +91</span>
                                                    <input type="tel" class="form-control" formControlName="phonenumber"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">What is your Budget ?*</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="budget"
                                                        required>
                                                    <span class="input-group-text">RS</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Duration (in Days)*</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="duration"
                                                        required>
                                                    <span class="input-group-text">Days</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Schedule a call*</label>
                                                <input type="date" class="form-control" formControlName="schedule"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary px-5 view">
                                                Submit Your Requirements
                                                <img src="assets/pointer.png" alt="">
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="activeBox === 'noidea'" class="mt-3">
                        <p>coming soon</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Paper" role="tabpanel" aria-labelledby="Paper-tab">
                <h2>Do you have any?</h2>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="box" (click)="showDiv('idea')" [ngClass]="{'active-box': activeBox === 'idea'}">
                            <img src="assets/start-project-1.png" alt="">
                            <b>I Have idea</b>
                            <!-- <a href="" class="view">
                                <b>View Details</b>
                                <img src="assets/pointer.png" alt="">
                            </a> -->

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box" (click)="showDiv('noidea')" [ngClass]="{'active-box': activeBox === 'noidea'}">
                            <img src="assets/start-project-2.png" alt="">
                            <b>I dont’ have idea</b>


                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6" *ngIf="activeBox === 'idea'" class="mt-3">
                        <div class="for">
                            <div class="container">
                                <div class="card p-4 border-0 rounded-4">
                                    <h4 class="text-center mb-4 fw-semibold">Tell us a little about your requirements
                                    </h4>

                                    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

                                        <div class="mb-3">
                                            <textarea class="form-control" rows="5" placeholder="Share Your Thoughts"
                                                formControlName="thoughts"></textarea>
                                        </div>

                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label class="form-label">Files Upload:</label>
                                                <input type="file" class="form-control" (change)="onFileChange($event)">
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Full Name*</label>
                                                <input type="text" class="form-control" formControlName="fullname"
                                                    required>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Email ID*</label>
                                                <input type="email" class="form-control" formControlName="emailid"
                                                    required>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Contact Number*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">🇮🇳 +91</span>
                                                    <input type="tel" class="form-control" formControlName="phonenumber"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">What is your Budget ?*</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="budget"
                                                        required>
                                                    <span class="input-group-text">RS</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Duration (in Days)*</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="duration"
                                                        required>
                                                    <span class="input-group-text">Days</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Schedule a call*</label>
                                                <input type="date" class="form-control" formControlName="schedule"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary px-5 view">
                                                Submit Your Requirements
                                                <img src="assets/pointer.png" alt="">
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="activeBox === 'noidea'" class="mt-3">
                        <p>coming soon</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Publication" role="tabpanel" aria-labelledby="Publication-tab">
                <h2>Do you have any?</h2>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="box" (click)="showDiv('idea')" [ngClass]="{'active-box': activeBox === 'idea'}">
                            <img src="assets/start-project-1.png" alt="">
                            <b>I Have idea</b>
                            <!-- <a href="" class="view">
                                <b>View Details</b>
                                <img src="assets/pointer.png" alt="">
                            </a> -->

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box" (click)="showDiv('noidea')" [ngClass]="{'active-box': activeBox === 'noidea'}">
                            <img src="assets/start-project-2.png" alt="">
                            <b>I dont’ have idea</b>


                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6" *ngIf="activeBox === 'idea'" class="mt-3">
                        <div class="for">
                            <div class="container">
                                <div class="card p-4 border-0 rounded-4">
                                    <h4 class="text-center mb-4 fw-semibold">Tell us a little about your requirements
                                    </h4>

                                    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">

                                        <div class="mb-3">
                                            <textarea class="form-control" rows="5" placeholder="Share Your Thoughts"
                                                formControlName="thoughts"></textarea>
                                        </div>

                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label class="form-label">Files Upload:</label>
                                                <input type="file" class="form-control" (change)="onFileChange($event)">
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Full Name*</label>
                                                <input type="text" class="form-control" formControlName="fullname"
                                                    required>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Email ID*</label>
                                                <input type="email" class="form-control" formControlName="emailid"
                                                    required>
                                            </div>

                                            <div class="col-md-6">
                                                <label class="form-label">Contact Number*</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">🇮🇳 +91</span>
                                                    <input type="tel" class="form-control" formControlName="phonenumber"
                                                        required>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">What is your Budget ?*</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="budget"
                                                        required>
                                                    <span class="input-group-text">RS</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Duration (in Days)*</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" formControlName="duration"
                                                        required>
                                                    <span class="input-group-text">Days</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Schedule a call*</label>
                                                <input type="date" class="form-control" formControlName="schedule"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary px-5 view">
                                                Submit Your Requirements
                                                <img src="assets/pointer.png" alt="">
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="activeBox === 'noidea'" class="mt-3">
                        <p>coming soon</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>