<div class="banner">
    <img src="assets/start-project.png" alt="">
    <div class="socio">
        <p>
            <a href="">
                <img src="assets/call.png" alt="">
            </a>
        </p>
        <p>
            <a href="">
                <img src="assets/whats-app.png" alt="">
            </a>
        </p>
    </div>
</div>
<div class="showcase space">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Start Your Project with Tech Solutions</h2>
                <p>Turn your ideas into real-world solutions with expert support, resources, and guidance. Whether it’s
                    a mini project, major final-year build, or a personal innovation, we help you plan, develop, and
                    complete it step by step.</p>
            </div>
            <div class="col-md-6"></div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Development-tab" data-bs-toggle="tab" data-bs-target="#Development"
                    type="button" role="tab" aria-controls="Development" aria-selected="true">Project
                    Development</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Writing-tab" data-bs-toggle="tab" data-bs-target="#Writing" type="button"
                    role="tab" aria-controls="Writing" aria-selected="false">Thesis Writing</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Paper-tab" data-bs-toggle="tab" data-bs-target="#Paper" type="button"
                    role="tab" aria-controls="Paper" aria-selected="false">Paper Writing</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Publication-tab" data-bs-toggle="tab" data-bs-target="#Publication"
                    type="button" role="tab" aria-controls="Publication" aria-selected="false">Paper
                    Publication</button>
            </li>
        </ul>
        <hr>
        <!-- Tab Content -->
        <div class="tab-content p-3 border border-top-0 space" id="myTabContent">
            <div class="tab-pane fade show active" id="Development" role="tabpanel" aria-labelledby="Development-tab">
                <h2>Do you have any?</h2>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <img src="assets/start-project-1.png" alt="">
                            <b>I Have idea</b>
                            <!-- <a href="" class="view">
                                <b>View Details</b>
                                <img src="assets/pointer.png" alt="">
                            </a> -->

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <img src="assets/start-project-2.png" alt="">
                            <b>I dont’ have idea</b>
                            <!-- <a href="" class="view">
                                <b>View Details</b>
                                <img src="assets/pointer.png" alt="">
                            </a> -->

                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Writing" role="tabpanel" aria-labelledby="Writing-tab">
                <h5>Profile Tab Content</h5>
                <p>This is the content for the Profile tab.</p>
            </div>
            <div class="tab-pane fade" id="Paper" role="tabpanel" aria-labelledby="Paper-tab">
                <h5>Contact Tab Content</h5>
                <p>This is the content for the Contact tab.</p>
            </div>
            <div class="tab-pane fade" id="Publication" role="tabpanel" aria-labelledby="Publication-tab">
                <h5>Contact Tab Content</h5>
                <p>This is the content for the Contact tab.</p>
            </div>
        </div>
        <div class="show">
            <a href="">
                <b>Show all B.Tech Projects</b>
                <img src="assets/pointer-blue.png" alt="">
            </a>
        </div>
    </div>
</div>