$primary-color: #0072ff;

.showcase {
    hr {
        margin: 0;
    }

    .show {
        a {
            font-size: 13px;
            text-decoration: none;
            color: $primary-color;

            b {
                font-weight: 600;
            }

            img {
                width: auto;
            }

            padding: 8px;
            border: 1px solid $primary-color;
            // background-color: $primary-color;
            border-radius: 5px;
            align-items: center;
        }
    }

    .nav {
        li {
            .nav-link.active {
                color: $primary-color;
                border: none;
                border-bottom: 2px solid $primary-color;
            }

            .nav-link {
                color: #70717e;
                font-weight: 600;
            }
        }
    }

    .tab-content {
        border: none !important;

        .tab-pane {
            h2 {
                text-align: center;
            }

            .box {

                .view {
                    font-size: 13px;
                    text-decoration: none;
                    color: #fff;

                    b {
                        font-weight: 600;
                    }

                    img {
                        width: auto;
                    }

                    padding: 5px 8px;
                    border: 1px solid $primary-color;
                    background-color: $primary-color;
                    border-radius: 5px;
                    align-items: center;
                }
            }
        }
    }
}