.banner {
    img {
        width: 100%;
    }

    .socio {
        float: right;
        margin-top: -10%;
        z-index: 999;
        position: relative;
        margin-right: 2%;

        img {
            width: 100%;
        }
    }
}

h2,
h3,
h4,
h1,
b {
    font-family: 'Libre Bodoni', serif;
}

p {
    font-family: 'Fira Sans', sans-serif;
    color: #555565;
}

.space {
    padding: 40px 0px;
}